:root {
    /***************************************************************** colors */
    --color-dark: hsl(197, 94%, 6%);
    --color-light: hsl(197, 94%, 94%);
    --color-primary: hsl(197, 66%, 21%);
    --color-primary-light: hsl(196, 24%, 46%);
    --color-accent: hsl(126, 15%, 72%);
    --color-accent-light: hsl(79, 55%, 92%);

    --color-primary-shadow-light: hsl(197, 66%, 24%);
    --color-primary-shadow-dark: hsl(197, 66%, 15%);

    --gradient-primary: linear-gradient(145deg, var(--color-primary-shadow-dark), var(--color-primary-shadow-light));

    --shadow-tl-far: -7px -7px 20px 0;
    --shadow-tl-near: -4px -4px 5px 0;
    --shadow-br-far: 7px 7px 20px 0;
    --shadow-br-near: 4px 4px 5px 0;

    --shadow:
        var(--shadow-tl-far) var(--color-primary-shadow-light)
        , var(--shadow-tl-near) var(--color-primary-shadow-light)
        , var(--shadow-br-far) var(--color-primary-shadow-dark)
        , var(--shadow-br-far) var(--color-primary-shadow-dark)
    ;
    --shadow-inset:
        var(--shadow-tl-far) var(--color-primary-shadow-light) inset
        , var(--shadow-tl-near) var(--color-primary-shadow-light) inset
        , var(--shadow-br-far) var(--color-primary-shadow-dark) inset
        , var(--shadow-br-near) var(--color-primary-shadow-dark) inset
    ;

    /****************************************************************** fonts */
    --font-family-display: 'Share Tech Mono', monospace;
    --font-family-primary: 'Work Sans', sans-serif;
    --font-family-secondary: 'Open Sans', sans-serif;

    --font-size-xs: 12px;
    --font-size-s: 16px;
    --font-size-m: 20px;
    --font-size-l: 24px;
    --font-size-xl: 30px;
    --font-size-xxl: 36px;
    --font-size-xxxl: 48px;

    /**************************************************************** spacers */
    --space-s: 4px;
    --space-m: 8px;
    --space-l: 16px;
    --space-xl: 32px;
    --space-xxl: 64px;
}

body {
    background: var(--color-primary);
    color: var(--color-light);
    font-family: var(--font-family-primary), "Andale Mono";
    line-height: 1.25;
    margin: 0;
}

a {
    color: var(--color-light);
    transition: 0.25s;
}

a:link
, a:visited {

}

a:focus
, a:hover
, a:active {
    color: var(--color-accent);
}

input {
    background: none;
    border: 1px solid var(--color-accent);
    border-radius: var(--space-s);
    box-shadow: var(--shadow-inset);
    color: var(--color-light);
}

input[type="submit"] {
    align-items: center;
    background: var(--color-accent);
    box-shadow: var(--shadow);
    color: var(--color-dark);
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: var(--space-s) var(--space-m);
    text-transform: uppercase;
    min-width: 75px;
}

p {
    line-height: 1.5;
}

.card {
    background: var(--gradient-primary);
    box-shadow: var(--shadow);
    border-radius: var(--space-m);
    margin: var(--space-l);
    max-width: 55ch;
    padding: var(--space-l);
    width: max-content;
}

.card form {
    display: grid;
    grid-gap: var(--space-l);
    grid-template-columns: auto 1fr;
}
.card form input { grid-column: 2; }
.card form input[type="submit"] { grid-column: 1 / -1; justify-self: end; }
.card form label { grid-column: 1; }

.card-heading {
    border-bottom: 1px solid var(--color-accent);
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 80vw;
}

/*
---
name: Font Sizes
category: Utility
---

```sizes.html
<div class="font-size-xs">Some words go here.</div>
<div class="font-size-s">Some words go here.</div>
<div class="font-size-m">Some words go here.</div>
<div class="font-size-l">Some words go here.</div>
<div class="font-size-xl">Some words go here.</div>
<div class="font-size-xxl">Some words go here.</div>
<div class="font-size-xxxl">Some words go here.</div>
```
*/
.font-size-xs { font-size: var(--font-size-xs); }
.font-size-s { font-size: var(--font-size-s); }
.font-size-m { font-size: var(--font-size-m); }
.font-size-l { font-size: var(--font-size-l); }
.font-size-xl { font-size: var(--font-size-xl); }
.font-size-xxl { font-size: var(--font-size-xxl); }
.font-size-xxxl { font-size: var(--font-size-xxxl); }
