{{define "navbar"}}
  <div class="navbar">
    <div class="navbar-content">
      <div class="navbar-right">
        <a href="https://github.com/sudermanjr/led-controller" target="_blank">
        </a>
      </div>
    </div>
  </div>
{{end}}
